<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Video memes</title>
  <meta name="description" content="Static webdev template">
  <meta name="author" content="Chm">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <link rel="stylesheet" href="dist/css/styles.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <!--(bake partials/mainpage_content.html)-->
</body>
</html>
